.matches-lists-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    width: 80%;
}
.matches-info-list-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
}